#scrollToTopBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    bottom: 20px; /* Place the button 20px from the bottom */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    font-size: 50px; /* Increase font size */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: transparent; /* Set background color */
    color: rgb(0, 0, 0); /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    border: solid 2px black;
    padding-bottom: 0px;
  }

  #scrollToTopBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
  }